{% extends "layout.html" %}
{% block content %}
  <div class="jumbo">
    <h2>Welcome to Twitter API predict<h2>
    <h4>(1) Read the file "guide.pdf"<h3>
    <h4>(2) Files in the folder "conf" contains all variables used in this APP, you can configure them in these files<h3>
    <h4>(3) Results are writen in the folder "result" <h3>

  </div>
{% endblock %}